Repository MagicTrevor/Harmony: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yaml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

flags:
  production:
    paths:
      - src/Harmony.Core/
      - src/Harmony.Data/
      - src/Harmony.Data.EntityFrameworkCore/
      - src/Harmony.Web/
  test:
    paths:
      - test/Harmony.Tests.Data.EntityFrameworkCore/

Update dependencies for Xunit
  .gitignore
  test/Harmony.Tests.Data.EntityFrameworkCore/Harmony.Tests.Data.EntityFrameworkCore.csproj
  test/Harmony.Tests.Web/Harmony.Tests.Web.csproj
Due: test

Should not call base in Equals
  src/Harmony.Core/Models/Entity.cs
Due: production

add 'in' to T to make it contravariant
  src/Harmony.Core/Models/Handles.cs
  src/Harmony.Core/Models/IEventHandler.cs
Due: production

Repository is abstract and cannot be instantiated
  src/Harmony.Data.EntityFrameworkCore/Repository.cs
Due: production

Ignore tests in coverage
  codecov.yaml
Due: none

correct ignore path
  codecov.yaml
Due: none

Updated base Entity class with interface
  src/Harmony.Core/Models/IEntity.cs
Due: production

Updated Repository interfaces to hide Id implementation details from leaking
  src/Harmony.Data/IReadOnlyRepository.cs
  src/Harmony.Data/IRepository.cs
Due: production

Updated Repository implementations to reflect interface changes
  src/Harmony.Data.EntityFrameworkCore/ReadOnlyRepository.cs
  src/Harmony.Data.EntityFrameworkCore/Repository.cs
Due: production

Updated ApiController to reflect repository changes
  src/Harmony.Web/ApiController.cs
Due: production

Fixed unit tests
  test/Harmony.Tests.Data.EntityFrameworkCore/ReadOnlyRepositoryTests.cs
  test/Harmony.Tests.Web/ApiControllerTests.cs
  test/Harmony.Tests.Web/Common/TestController.cs
Due: test

Explicitly implement IEquatable
  src/Harmony.Core/Models/Entity.cs
Due: production

Added a unit test for Repository
  test/Harmony.Tests.Data.EntityFrameworkCore/Common/TestRepository.cs
  test/Harmony.Tests.Data.EntityFrameworkCore/ReadOnlyRepositoryTests.cs
  test/Harmony.Tests.Data.EntityFrameworkCore/RepositoryTests.cs
Due: test

Removed redundant constructor
  test/Harmony.Tests.Data.EntityFrameworkCore/RepositoryTests.cs
Due: test

Prevent other branches from building outside of PRs
  appveyor.yml
Due: none

Initial Specification class
  src/Harmony.Core/Models/Specification.cs
Due: production

Updated Specification
  src/Harmony.Core/Models/Specification.cs
Due: production

Update specification
  src/Harmony.Core/Models/Specification.cs
  src/Harmony.Core/Models/Specifications/AndSpecification.cs
Due: production

Reduce to ISpecification interface
  src/Harmony.Core/Models/ISpecification.cs
  src/Harmony.Core/Models/Specification.cs
  src/Harmony.Core/Models/Specifications/AndSpecification.cs
Due: production

Update to specification; Update repository to support
  src/Harmony.Core/Models/ISpecification.cs
  src/Harmony.Core/Models/Specification.cs
  src/Harmony.Core/Models/Specifications/AndSpecification.cs
  src/Harmony.Data.EntityFrameworkCore/ReadOnlyRepository.cs
  src/Harmony.Data/IReadOnlyRepository.cs
Due: production

Minor updates
  global.json
  test/Harmony.Tests.Data.EntityFrameworkCore/Common/TestSpecification.cs
  test/Harmony.Tests.Data.EntityFrameworkCore/Harmony.Tests.Data.EntityFrameworkCore.csproj
  test/Harmony.Tests.Data.EntityFrameworkCore/ReadOnlyRepositoryTests.cs
  test/Harmony.Tests.Web/Harmony.Tests.Web.csproj
Due: test

Remove unused build files
  Build.ps1
  build.cake
  build.sh
Due: none

Update token
  appveyor.yml
Due: none

Update appveyor
  Harmony.sln
  appveyor.yml
Due: none

update global.json
  global.json
Due: none

add RepositoryUrl to projects
  src/Harmony.Core/Harmony.Core.csproj
  src/Harmony.Data.EntityFrameworkCore/Harmony.Data.EntityFrameworkCore.csproj
  src/Harmony.Data/Harmony.Data.csproj
  src/Harmony.Web/Harmony.Web.csproj
Due: production

Update global.json
  global.json
Due: none

Use Visual Studio 2019 Preview image for now
  appveyor.yml
Due: none

Remove version
  global.json
Due: none

Removed nuget.org deployment
  appveyor.yml
Due: none

Auto publish nuget
  appveyor.yml
Due: none

Let AppVeyor handle the build
  appveyor.yml
Due: none

Fix version setting
  appveyor.yml
Due: none

Update appveyor.yml
  appveyor.yml
Due: none

Updates appveyor.yml
  appveyor.yml
Due: none
